@import url(nreset.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #101010;
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.container__calculator {
  display: flex;
  flex-direction: column;
  width: 50em;
  height: 25em;
}
.container__calculator__bar {
  display: grid;
  grid-template-columns: 1fr repeat(3, 2em);
  max-width: 100%;
  max-height: 5%;
}
.container__calculator__bar__title {
  height: 100%;
  color: white;
  text-align: center;
  font-size: 0.75rem;
  margin: 0;
  background-color: rgb(65, 56, 56);
}
.container__calculator__bar__button {
  border: none;
  padding: 0;
  margin: 0;
  width: 2em;
  height: 100%;
}
.container__calculator__display {
  display: flex;
  width: 100%;
  height: 100%;
}
.container__calculator__display__calculator {
  width: 75%;
  height: 100%;
  background-color: yellow;
}
.container__calculator__display__history {
  background-color: aqua;
  width: 25%;
  height: 100%;
}
.container__information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 25em;
  height: 25em;
  margin: 0 2em;
}
