@import url(nreset.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #101010;
  color: white;
}

.content {
  display: flex;
}
.content__container {
  display: flex;
}
.content__container__calculator