@import url(nreset.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #101010;
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.container__calculator {
  display: flex;
  flex-direction: column;
  width: 50em;
  height: 25em;
  background-color: #1f1f23;
  padding: 0 0 0.2em 0.2em;
}
.container__calculator__bar {
  display: grid;
  grid-template-columns: 1fr repeat(3, 2em);
}
.container__calculator__bar__title {
  height: 100%;
  color: white;
  text-align: center;
  font-size: 0.8rem;
  margin: 0;
  padding-top: 0.5em;
}
.container__calculator__bar__button {
  padding: 0;
  margin: 0;
  width: 2em;
  height: 100%;
  opacity: 0.5;
  border: none;
  background-color: transparent;
}
.container__calculator__bar__button:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.container__calculator__bar__button__min {
  background-image: url(../images/min.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.container__calculator__bar__button__max {
  background-image: url(../images/max.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.container__calculator__bar__button__close {
  background-image: url(../images/close.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.container__calculator__bar__button__close:hover {
  background-color: red;
  opacity: 1;
}
.container__calculator__display {
  display: flex;
  width: 100%;
  height: 100%;
}
.container__calculator__display__calculator {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.container__calculator__display__calculator__screen {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  height: 40%;
}
.container__calculator__display__calculator__screen__operation {
  color: gray;
}
.container__calculator__display__calculator__screen__result {
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
}
.container__calculator__display__calculator__keypad {
  display: grid;
  grid-template: repeat(6, 1fr) / repeat(4, 1fr);
  gap: 0.2em;
  height: 60%;
}
.container__calculator__display__calculator__keypad__button {
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
}
.container__calculator__display__calculator__keypad__button:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.container__calculator__display__history {
  width: 40%;
  height: 100%;
  background-color: #1f1f23;
}
.container__information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 25em;
  height: 25em;
  margin: 0 2em;
}
.container__information__button {
  font-size: 1.1rem;
  padding: 0.5em 1em;
  border-radius: 0.1em;
  background-color: #db2b39;
  border: none;
  color: white;
  text-decoration: none;
}
.container__information__button:hover {
  cursor: pointer;
  background-color: #db2b3ac0;
}
.container__information__tags {
  color: white;
  margin-top: 2em;
  text-align: center;
  font-size: 1.1rem;
  text-decoration: none;
}
.container__information__tags__github {
  width: 3em;
  height: auto;
}
.container__information__tags__gitlogo {
  width: 1.5em;
  height: auto;
  margin-right: 0.1em;
}
